.env
db
!wordpress/

wordpress/*
!wordpress/wp-content/

wordpress/wp-content/*
!wordpress/wp-content/themes

#wordpress/wp-content/themes/*
!wordpress/wp-content/themes/your-theme/hiae

.DS_Store
.idea