@mixin vertical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin vertical-horizontal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}