@mixin vertical{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin horizontal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin vertical-horizontal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin css-triangle($direction:'left',$size:5px, $color:$color1) {
    width: 0;
    height: 0;
    position:absolute;
    content: " ";
    left:0;
    top:0;

    @if $direction == 'left' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right:$size solid $color;
    }
    @if $direction == 'right' {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @if $direction == 'up' {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
    @if $direction == 'down' {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
}