.header{
	border-top:20px solid #ccc;
	border-bottom:1px solid #eff0ef;
	position: fixed;
	top:0;
	left:20px;
	right:20px;
	z-index:5;
	background: #fff;
	.btn-mobile{
		display:none;
		cursor: pointer;
	}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 65px;
		.logo{
			color:$color1;
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 25px;
		}
		nav{
			ul{
				display: flex;
				a{
					text-transform:uppercase;
					color:$color1;
					padding:25px 10px 20px 10px;
					border-bottom:2px solid transparent;
					&:hover, &.active{
						color:$color2;
						border-color:$color2;
					}
				}
			}
		}
	}
	@media(max-width: $break-md){
		border-top:none;
		left:0;
		right:0;
		padding-left:15px;
		padding-right: 15px;
		.btn-mobile{
			display:block;
		}
		.container{
			.logo{
				font-size: 18px;
			}
			nav, .social{
				display: none;
			}
			nav.active{
				display: block;
				position: absolute;
				top:65px;
				left:0;
				right:0;
				background:#fff;
				padding: 0 15px 15px 15px;
				ul{
					flex-direction: column;
					li{
						border-top:1px solid #c5c5c5;
						a{
							line-height: 15px;
							display: flex;
							align-items: center;
							padding: 12px 0;
							border:none;
						}
					}
				}
			}
		}
	}
}