._footer {
	padding: 75px 0 25px;

	.footer-menu {
		li {
			margin-bottom: 2px;
		}

		a {
			color: #fff;
			text-decoration: none;
			font-weight: 500;
			transition: all 0.25s ease-in-out;

			&:hover {
				color: $secondary;
			}
		}
	}

	.copyright {
		margin-top: 75px;
	}

	.detail-left {
		bottom: 60%;
		z-index: 1;
		left: 0;
	}

	.detail-right {
		z-index: 1;
		bottom: 60%;
		right: 0;
	}
}
