// Colors

$primary: #d2b356;
$secondary: #111111;

$light: #c7c7c7;
$dark: #111111;

$theme-colors: ();
$theme-colors: map-merge(
	(
		'primary': $primary,
		'secondary': $secondary,
		'success': $success,
		'info': $info,
		'warning': $warning,
		'danger': $danger,
		'dark': $dark,
		'light': $light
	),
	$theme-colors
);

$body-color: $primary;
$link-color: theme-color('secondary');

// Spacings

$spacer: 20px;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
	(
		0: 0,
		1: $spacer * 0.25,
		2: $spacer * 0.5,
		3: $spacer * 0.75,
		4: $spacer,
		5: $spacer * 1.5,
		6: $spacer * 2,
		7: $spacer * 2.5,
		8: $spacer * 3,
		9: $spacer * 6,
		10: $spacer * 7
	),
	$spacers
);

// Text

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-weight: 800;
$headings-margin-bottom: 1.5rem;

// Buttons
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-transition: all 0.25s ease-in-out;
