._social-networks {
	a {
		color: #a0a0a0;
		transition: color 0.2s ease-in-out;
		font-size: $font-size-sm;

		&:hover,
		&:focus,
		&:active {
			color: $primary;
			text-decoration: none;
		}
	}
}
